
<div class="player-container">
  <div class="track-info">
    <h4>song title</h4>
    <h3>artist name</h4>
      <div class="progressContainer">
        <div class="progBar"></div>
      </div>  
    </div>
  <audio src="https://res.cloudinary.com/daniwk9uv/video/upload/v1684268933/saafdbep2yintvmye2hb.wav" id="audio"></audio>
  
  <div class="navigation">
    <button id="prev" class="action-btn"><i class="fa-sharp fa-solid fa-backward" style="color: #c5d930;"></i></button>
    <button id="play" class="action-btn"><i class="fa-solid fa-play" style="color: #c5d930;"></i></button>
    <button id="next" class="action-btn"><i class="fa-sharp fa-solid fa-forward" style="color: #c5d930;"></i></button>
  </div>
  </div>


