     
              <% for(var i=0; i < tracks.length; i++){
                
                if(tracks[i].uploadedBy.includes(profile.userName))       {%>
               
         
                
  <div class="player-container">
  <div class="track-info">
    <h4><%=tracks[i].trackName%></h4>
    <h3><%=tracks[i].uploadedBy%></h4>
      <div class="progressContainer">
        <div class="progBar"></div>
      </div>  
    </div>
  <audio src="<%=tracks[i].song%>" class="audio"></audio>
  
  <div class="navigation">
    <button id="prev" class="action-btn prevBtn"><i class="fa-sharp fa-solid fa-backward" style="color: #c5d930;"></i></button>
    <button id="play" class="action-btn playBtn"><i class="fa-solid fa-play" style="color: #c5d930;"></i></button>
    <button id="next" class="action-btn nextBtn"><i class="fa-sharp fa-solid fa-forward" style="color: #c5d930;"></i></button>
  </div>
  </div>


  <% }} %>